In [1]:
import mysql.connector
import pandas as pd
import csv
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
import os

In [2]:
from Injection_Data_From_CSV_To_DB import MySQL_Connection_Manager
from Injection_Data_From_CSV_To_DB import Table_Creation

In [3]:
Manager = MySQL_Connection_Manager(
    host = "localhost",
    user = "root",
    password = "password"
 )

Conn = Manager.Create_Database_Connection("inventory")
Table_Manager = Table_Creation(Conn,"data")
Created_Tables, Failed_Tables = Table_Manager.Fetch_And_Create_Tables()

Connected To Database inventory Successfully

In [4]:
for Table in Created_Tables:
    print("-"*25,f"{Table}","-"*25)
    print("Count Of Records :-", pd.read_sql(f"SELECT COUNT(*) as count From {Table}",Conn)['count'][0])
    display(pd.read_sql(f"SELECT * FROM {Table} limit 5" ,Conn))

------------------------- begin_inventory -------------------------
Count Of Records :- 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

------------------------- end_inventory -------------------------
Count Of Records :- 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

------------------------- purchases -------------------------
Count Of Records :- 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

------------------------- purchase_prices -------------------------
Count Of Records :- 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

------------------------- sales -------------------------
Count Of Records :- 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

------------------------- vendor_invoice -------------------------
Count Of Records :- 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137484.00,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.20,429.20,None

In [5]:
Purchase_Summary = pd.read_sql(
    """
    SELECT
    p.Brand,
    p.VendorNumber,
    p.VendorName,
    SUM(p.Quantity) AS Total_Qantity_Purchase,
    SUM(p.Dollars) AS Total_Purchase_Dollar,
    pp.Description,
    pp.Price AS Actual_Price_Of_Product,
    pp.PurchasePrice AS Actual_Purchase_Price,
    pp.Volume
    FROM purchases AS p
    JOIN purchase_prices AS pp
    ON p.Brand = pp.Brand
    WHERE pp.PurchasePrice > 0
    GROUP BY 
        p.Brand,
        p.VendorNumber,
        p.VendorName,
        pp.Description,
        pp.Price,
        pp.PurchasePrice,
        pp.Volume
    ORDER BY Actual_Purchase_Price
    """,
    Conn
)

In [6]:
Purchase_Summary

,Brand,VendorNumber,VendorName,Total_Qantity_Purchase,Total_Purchase_Dollar,Description,Actual_Price_Of_Product,Actual_Purchase_Price,Volume
0,3265,8004,SAZERAC CO INC,48651.0,17514.360038,Firefly Sweet Tea Vodka,0.49,0.36,50
1,5708,8004,SAZERAC CO INC,66026.0,25089.879722,Dr McGillicuddy's Root Beer,0.49,0.38,50
2,5683,8004,SAZERAC CO INC,6.0,2.340000,Dr McGillicuddy's Apple Pie,0.49,0.39,50
3,5877,8004,SAZERAC CO INC,36149.0,22412.380321,Ryans Irish Cream,0.99,0.62,50
4,6432,3960,DIAGEO NORTH AMERICA INC,4679.0,2994.560059,Shady Fruit Real Ruby Red Gr,0.99,0.64,50
...,...,...,...,...,...,...,...,...,...
10687,1251,3960,DIAGEO NORTH AMERICA INC,7.0,18633.020752,Port Ellen 32 Yr Single Malt,3699.99,2661.86,750
10688,8385,3664,WILLIAM GRANT & SONS INC,1.0,2713.169922,Glenfiddich 1978 Rare Collct,3499.99,2713.17,750
10689,423,8112,MOET HENNESSY USA INC,3.0,10058.789795,Hennessy Richard Cognac,4559.99,3352.93,750
10690,2367,8112,MOET HENNESSY USA INC,2.0,8529.400391,Glenmorangie Pride,5799.99,4264.70,1000
10691,3949,9165,ULTRA BEVERAGE COMPANY LLP,3.0,17045.430176,Patron En Lalique Tequila,7499.99,5681.81,750

In [7]:
Freight_Summary = pd.read_sql(
    """
    SELECT
        VendorNumber,
        VendorName,
        SUM(Freight) AS Total_Freight_Cost
        FROM vendor_invoice
        GROUP BY
            VendorNumber,
            VendorName
    """,
    Conn
)
Freight_Summary

     VendorNumber                   VendorName  Total_Freight_Cost
0             105  ALTAMAR BRANDS LLC                    62.389999
1            4466  AMERICAN VINTAGE BEVERAGE            793.909996
2             388  ATLANTIC IMPORTING COMPANY           211.740000
3             480  BACARDI USA INC                    89286.269659
4             516  BANFI PRODUCTS CORP                 8510.410004
..            ...                          ...                 ...
124          4901  LAUREATE IMPORTS CO                    0.720000
125         90059  BLACK COVE BEVERAGES                  74.839999
126          5083  LOYAL DOG WINERY                      10.680000
127          1587  VINEYARD BRANDS LLC                   54.229999
128            54  AAPER ALCOHOL & CHEMICAL CO            0.480000

[129 rows x 3 columns]

In [8]:
Sale_Summary = pd.read_sql(
    """
    SELECT
        Brand,
        VendorNo,
        VendorName,
        Description,
        SUM(SalesPrice) AS Total_Sale_Price ,
        SUM(SalesQuantity) AS Total_Sales_Quantiy,
        SUM(SalesDollars) AS Total_Sale_Dollar,
        SUM(ExciseTax) AS Total_Excise_Tax,
        Volume
        FROM sales
        GROUP BY
            Brand,
            VendorNo,
            VendorName,
            Description,
            Volume
    """,
    Conn
)

In [9]:
Sale_Summary = Sale_Summary.rename(columns={'VendorNo':'VendorNumber'})

In [10]:
Purchase_Summary['Volume'] = Purchase_Summary['Volume'].astype('float64')

In [11]:
Sale_Summary

,Brand,VendorNumber,VendorName,Description,Total_Sale_Price,Total_Sales_Quantiy,Total_Sale_Dollar,Total_Excise_Tax,Volume
0,58,8320,SHAW ROSS INT L IMP LTD,Gekkeikan Black & Gold Sake,28145.639488,3446.0,43341.539587,2715.120048,750.0
1,60,12546,JIM BEAM BRANDS COMPANY,Canadian Club 1858 VAP,10720.789766,1775.0,18716.249775,1398.560019,750.0
2,61,8004,SAZERAC CO INC,Margaritaville Silver,363.739994,312.0,4364.880127,245.699995,750.0
3,62,1128,BROWN-FORMAN CORP,Herradura Silver Tequila,90154.513943,3125.0,119863.754715,2463.180051,750.0
4,63,1128,BROWN-FORMAN CORP,Herradura Reposado Tequila,88553.103676,2778.0,112249.224232,2190.450048,750.0
...,...,...,...,...,...,...,...,...,...
11267,90090,1703,ALISA CARR BEVERAGES,Ch Lafite Rothschild 12,4549.929932,15.0,9749.849854,1.680000,750.0
11268,90604,1703,ALISA CARR BEVERAGES,Ch Lynch Bages Pauilac,2639.779953,76.0,9119.239998,8.530000,750.0
11269,90609,2,"IRA GOLDMAN AND WILLIAMS, LLP",Flavor Essence Variety 5 Pak,449.819996,24.0,599.759998,0.520000,162.5
11270,90609,201359,FLAVOR ESSENCE INC,Flavor Essence Variety 5 Pak,1324.469988,59.0,1474.409986,1.240000,162.5
11271,90631,9165,ULTRA BEVERAGE COMPANY LLP,Luxardo Maraschino Cherries,19502.729765,1659.0,31504.409758,99.539999,400.0

In [12]:
Vendor_Sale_Summary = pd.merge(
    Purchase_Summary,
    Sale_Summary,
    on = ['Brand','VendorNumber','VendorName','Description','Volume'],
    how = 'left'
)

In [13]:
Vendor_Sale_Summary = pd.merge(
    Vendor_Sale_Summary,
    Freight_Summary,
    on = ['VendorNumber','VendorName'],
    how = 'left'
)

In [14]:
Vendor_Sale_Summary

,Brand,VendorNumber,VendorName,Total_Qantity_Purchase,Total_Purchase_Dollar,Description,Actual_Price_Of_Product,Actual_Purchase_Price,Volume,Total_Sale_Price,Total_Sales_Quantiy,Total_Sale_Dollar,Total_Excise_Tax,Total_Freight_Cost
0,3265,8004,SAZERAC CO INC,48651.0,17514.360038,Firefly Sweet Tea Vodka,0.49,0.36,50.0,1247.540024,48649.0,23838.010077,2552.479987,50293.619843
1,5708,8004,SAZERAC CO INC,66026.0,25089.879722,Dr McGillicuddy's Root Beer,0.49,0.38,50.0,11536.470111,60074.0,59473.259847,3141.109961,50293.619843
2,5683,8004,SAZERAC CO INC,6.0,2.340000,Dr McGillicuddy's Apple Pie,0.49,0.39,50.0,1.470000,134.0,65.659999,7.040000,50293.619843
3,5877,8004,SAZERAC CO INC,36149.0,22412.380321,Ryans Irish Cream,0.99,0.62,50.0,10284.120099,37940.0,37560.599988,1976.349978,50293.619843
4,6432,3960,DIAGEO NORTH AMERICA INC,4679.0,2994.560059,Shady Fruit Real Ruby Red Gr,0.99,0.64,50.0,2131.470021,8009.0,7928.909990,63.069999,257032.069523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,1251,3960,DIAGEO NORTH AMERICA INC,7.0,18633.020752,Port Ellen 32 Yr Single Malt,3699.99,2661.86,750.0,3699.989990,1.0,3699.989990,0.790000,257032.069523
10688,8385,3664,WILLIAM GRANT & SONS INC,1.0,2713.169922,Glenfiddich 1978 Rare Collct,3499.99,2713.17,750.0,3499.989990,1.0,3499.989990,0.790000,30234.420094
10689,423,8112,MOET HENNESSY USA INC,3.0,10058.789795,Hennessy Richard Cognac,4559.99,3352.93,750.0,18787.960938,4.0,18787.960938,3.160000,48347.260061
10690,2367,8112,MOET HENNESSY USA INC,2.0,8529.400391,Glenmorangie Pride,5799.99,4264.70,1000.0,5799.990234,1.0,5799.990234,1.050000,48347.260061
10691,3949,9165,ULTRA BEVERAGE COMPANY LLP,3.0,17045.430176,Patron En Lalique Tequila,7499.99,5681.81,750.0,NaN,NaN,NaN,NaN,68054.700188

In [15]:
Vendor_Sale_Summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Brand                    10692 non-null  int64
 1   VendorNumber             10692 non-null  int64
 2   VendorName               10692 non-null  object
 3   Total_Qantity_Purchase   10692 non-null  float64
 4   Total_Purchase_Dollar    10692 non-null  float64
 5   Description              10692 non-null  object
 6   Actual_Price_Of_Product  10692 non-null  float64
 7   Actual_Purchase_Price    10692 non-null  float64
 8   Volume                   10692 non-null  float64
 9   Total_Sale_Price         10514 non-null  float64
 10  Total_Sales_Quantiy      10514 non-null  float64
 11  Total_Sale_Dollar        10514 non-null  float64
 12  Total_Excise_Tax         10514 non-null  float64
 13  Total_Freight_Cost       10692 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 1.1+ MB

In [16]:
Vendor_Sale_Summary.isnull().sum()

Brand                        0
VendorNumber                 0
VendorName                   0
Total_Qantity_Purchase       0
Total_Purchase_Dollar        0
Description                  0
Actual_Price_Of_Product      0
Actual_Purchase_Price        0
Volume                       0
Total_Sale_Price           178
Total_Sales_Quantiy        178
Total_Sale_Dollar          178
Total_Excise_Tax           178
Total_Freight_Cost           0
dtype: int64

In [17]:
Vendor_Sale_Summary.fillna(0,inplace=True)

In [18]:
# Vendor_Sale_Summary.to_excel("Vendor_Sale_Summary.xlsx",index=False)

In [19]:
Vendor_Sale_Summary['VendorName'].unique()

array(['SAZERAC CO INC             ', 'DIAGEO NORTH AMERICA INC   ',
       'PERFECTA WINES             ', 'STOLI GROUP,(USA) LLC      ',
       'CONSTELLATION BRANDS INC   ', 'JIM BEAM BRANDS COMPANY    ',
       'BACARDI USA INC            ', 'CAMPARI AMERICA            ',
       'PROXIMO SPIRITS INC.       ', 'M S WALKER INC             ',
       'MARTIGNETTI COMPANIES', 'PINE STATE TRADING CO      ',
       'Russian Standard Vodka     ', 'HEAVEN HILL DISTILLERIES   ',
       'LUXCO INC                  ', 'MHW LTD                    ',
       'SAZERAC NORTH AMERICA INC. ', 'DUGGANS DISTILLED PRODUCTS ',
       'E & J GALLO WINERY         ', 'PHILLIPS PRODUCTS CO.      ',
       'ULTRA BEVERAGE COMPANY LLP ', 'WESTERN SPIRITS BEVERAGE CO',
       'BROWN-FORMAN CORP          ', 'CHARLES JACQUIN ET CIE INC ',
       'TRINCHERO FAMILY ESTATES   ', 'CASTLE BRANDS CORP.        ',
       'SOUTHERN WINE & SPIRITS NE ', 'WILLIAM GRANT & SONS INC   ',
       'WINE GROUP INC             ', 'SIDNEY FRANK IMPORTING CO  ',
       'NICHE W & S                ', 'PERNOD RICARD USA          ',
       'MOET HENNESSY USA INC      ', 'SHAW ROSS INT L IMP LTD    ',
       'OLE SMOKY DISTILLERY LLC   ', 'DISARONNO INTERNATIONAL LLC',
       'DIAGEO CHATEAU ESTATE WINES', 'FREDERICK WILDMAN & SONS   ',
       'PALM BAY INTERNATIONAL INC ', 'BANFI PRODUCTS CORP        ',
       'DELICATO VINEYARDS INC     ', 'MILTONS DISTRIBUTING CO    ',
       'BRONCO WINE COMPANY        ', 'SURVILLE ENTERPRISES CORP  ',
       'LAIRD & CO                 ', 'KOBRAND CORPORATION        ',
       'THE IMPORTED GRAPE LLC     ', 'MCCORMICK DISTILLING CO    ',
       'STE MICHELLE WINE ESTATES  ', 'STATE WINE & SPIRITS   ',
       'CRUSH WINES                ', 'VINILANDIA USA             ',
       'TREASURY WINE ESTATES      ', 'REMY COINTREAU USA INC     ',
       'MAJESTIC FINE WINES        ', 'TAKARA SAKE USA INC        ',
       'BLACK PRINCE DISTILLERY INC', 'SILVER MOUNTAIN CIDERS     ',
       'WEIN BAUER INC             ', 'VINEYARD BRANDS INC        ',
       'PSP WINES ', 'LAUREATE IMPORTS CO        ',
       'THE PIERPONT GROUP LLC     ', 'LATITUDE BEVERAGE COMPANY  ',
       'FANTASY FINE WINES CORP    ', 'STELLAR IMPORTING CO LLC   ',
       'Circa Wines                ', 'FORTUNE WINE BROKERS LLC   ',
       'POVERTY LANE ORCHARDS      ', 'SOUTHERN GLAZERS W&S OF NE ',
       'TY KU LLC                  ', 'CENTEUR IMPORTS LLC        ',
       'VRANKEN AMERICA            ', 'MANGO BOTTLING INC         ',
       'ZORVINO VINEYARDS          ', 'JEWELL TOWNE VINEYARDS     ',
       'SEA BREEZE CELLARS LLC     ', 'SEA HAGG DISTILLERY LLC    ',
       'PREMIUM PORT WINES, INC.   ', 'Dunn Wine Brokers          ',
       'VINEXTRA INC               ', 'PREMIER DISTRIBUTORS       ',
       'PARK STREET IMPORTS LLC    ', 'FABRIZIA SPIRITS LLC       ',
       'AMERICAN SPIRITS EXCHANGE  ', 'FLAG HILL WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS      ', 'STAR INDUSTRIES INC.       ',
       'SWEET BABY VINEYARD        ', 'R.P.IMPORTS INC            ',
       'MARTIGNETTI COMPANIES ', 'MOONLIGHT MEADERY          ',
       'INCREDIBREW INC            ', 'UNCORKED       ',
       'HIGHLAND WINE MERCHANTS LLC', 'LABELLE VYDS AND WINERY    ',
       'AMERICAN VINTAGE BEVERAGE  ', 'Serralles Usa LLC          ',
       'MARSALLE COMPANY           ', 'CANDIA VINEYARDS           ',
       'LOYAL DOG WINERY           ', 'TRUETT HURST               ',
       'FULCHINO VINEYARD INC      ', 'GILMANTON WINERY & VINEYARD',
       'APPOLO VINEYARDS LLC       ', 'WALPOLE MTN VIEW WINERY    ',
       'KLIN SPIRITS LLC           ', 'ADAMBA IMPORTS INTL INC    ',
       'EDRINGTON AMERICAS         ', 'CAPSTONE INTERNATIONAL     ',
       'CALEDONIA SPIRITS INC      ', 'BLACK ROCK SPIRITS LLC     ',
       'SWEETWATER FARM         ', 'BULLY BOY DISTILLERS       ',
       'BLACK COVE BEVERAGES       ', 'DJINN SPIRITS LLC          ',
       'HOOD RIVER DISTILLERS, Inc.',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'FLAVOR ESSENCE INC         ', 'TAMWORTH DISTILLING        ',
       'TALL SHIP DISTILLERY LLC   ', 'ATLANTIC IMPORTING COMPANY ',
       'SMOKY QUARTZ DISTILLERY LLC', 'STARK BREWING COMPANY      ',
       'VINEDREA WINES LLC         ', 'ALTAMAR BRANDS LLC         ',
       'VINEYARD BRANDS LLC        ', 'ALISA CARR BEVERAGES           ',
       'AAPER ALCOHOL & CHEMICAL CO'], dtype=object)

In [20]:
Vendor_Sale_Summary['Gross_Profit'] = Vendor_Sale_Summary['Total_Sale_Dollar'] - Vendor_Sale_Summary['Total_Purchase_Dollar']

In [21]:
Vendor_Sale_Summary['Profit_Margin'] = (Vendor_Sale_Summary['Gross_Profit']/Vendor_Sale_Summary['Total_Sale_Dollar']) * 100

In [29]:
Vendor_Sale_Summary['Stock_Turnover'] = Vendor_Sale_Summary['Total_Sales_Quantiy'] / Vendor_Sale_Summary['Total_Qantity_Purchase']

In [30]:
Vendor_Sale_Summary['Sales_Pruchase_Ratio'] = Vendor_Sale_Summary['Total_Sale_Dollar']/Vendor_Sale_Summary['Total_Purchase_Dollar']

In [31]:
Vendor_Sale_Summary.head(15)

,Brand,VendorNumber,VendorName,Total_Qantity_Purchase,Total_Purchase_Dollar,Description,Actual_Price_Of_Product,Actual_Purchase_Price,Volume,Total_Sale_Price,Total_Sales_Quantiy,Total_Sale_Dollar,Total_Excise_Tax,Total_Freight_Cost,Gross_Profit,Profit_Margin,Stock_Turnover,Sales_Pruchase_Ratio
0,3265,8004,SAZERAC CO INC,48651.0,17514.360038,Firefly Sweet Tea Vodka,0.49,0.36,50.0,1247.540024,48649.0,23838.010077,2552.479987,50293.619843,6323.650039,26.527592,0.999959,1.361055
1,5708,8004,SAZERAC CO INC,66026.0,25089.879722,Dr McGillicuddy's Root Beer,0.49,0.38,50.0,11536.470111,60074.0,59473.259847,3141.109961,50293.619843,34383.380125,57.813176,0.909854,2.370408
2,5683,8004,SAZERAC CO INC,6.0,2.340000,Dr McGillicuddy's Apple Pie,0.49,0.39,50.0,1.470000,134.0,65.659999,7.040000,50293.619843,63.319999,96.436187,22.333333,28.059830
3,5877,8004,SAZERAC CO INC,36149.0,22412.380321,Ryans Irish Cream,0.99,0.62,50.0,10284.120099,37940.0,37560.599988,1976.349978,50293.619843,15148.219666,40.330079,1.049545,1.675886
4,6432,3960,DIAGEO NORTH AMERICA INC,4679.0,2994.560059,Shady Fruit Real Ruby Red Gr,0.99,0.64,50.0,2131.470021,8009.0,7928.909990,63.069999,257032.069523,4934.349930,62.232387,1.711691,2.647771
5,902,10754,PERFECTA WINES,24.0,15.360000,Creta Olympia Red,0.99,0.64,375.0,7.920000,24.0,23.760000,1.340000,28720.519941,8.400000,35.353536,1.000000,1.546875
6,3369,8664,"STOLI GROUP,(USA) LLC",1064.0,755.440001,Stolichnaya Gluten Free 80*,0.99,0.71,50.0,8.910000,527.0,521.730001,27.670000,18544.490013,-233.710000,-44.795201,0.495301,0.690631
7,3904,1392,CONSTELLATION BRANDS INC,21038.0,14936.979625,Svedka Cucumber Lime Vodka,0.99,0.71,50.0,4736.160046,18168.0,17986.319980,947.349990,79528.990326,3049.340355,16.953665,0.863580,1.204147
8,7936,8664,"STOLI GROUP,(USA) LLC",16064.0,11405.439882,Bayou Spiced Rum,0.99,0.71,50.0,3845.160037,9943.0,9843.570018,514.589996,18544.490013,-1561.869864,-15.866905,0.618962,0.863059
9,3566,12546,JIM BEAM BRANDS COMPANY,20642.0,14655.819584,Pinnacle Raspberry,0.99,0.71,50.0,3825.360037,11128.0,11016.719999,577.449994,123880.969891,-3639.099585,-33.032514,0.539095,0.751696
10,8522,12546,JIM BEAM BRANDS COMPANY,11498.0,8163.579746,Dekuyper Peachtree Scnapps,0.99,0.71,50.0,2508.660024,6604.0,6537.960011,341.619997,123880.969891,-1625.619736,-24.864327,0.574361,0.800869
11,4024,480,BACARDI USA INC,70.0,49.699999,Bacardi Razz,0.99,0.71,50.0,0.000000,0.0,0.000000,0.000000,89286.269659,-49.699999,-inf,0.000000,0.000000
12,3147,8664,"STOLI GROUP,(USA) LLC",64.0,45.440000,Stolichnaya Chocolat Kokonut,0.99,0.71,50.0,627.660006,1255.0,1242.450008,64.290000,18544.490013,1197.010008,96.342710,19.609375,27.342650
13,4141,11567,CAMPARI AMERICA,23925.0,16986.749546,Wild Turkey American Honey,0.99,0.71,50.0,4028.310039,18706.0,18518.939973,977.049988,20964.810007,1532.190427,8.273640,0.781860,1.090199
14,8495,3960,DIAGEO NORTH AMERICA INC,157.0,111.470001,Capt Morgan White Pineapple,0.99,0.71,50.0,147.510001,476.0,471.239998,24.740000,257032.069523,359.769997,76.345386,3.031847,4.227505